/.idea
/public/bundles/
/public/css/.sass-cache
/var/
/vendor/

/public/css/*.css
/public/css/*.css.map
/public/js/bootstrap.*
/public/js/jquery.*
/.env.local
/.env.local.php
/.env.*.local
/.web-server-pid
/composer.lock
/phpunit.xml
/scully.cms.*

.phpunit
.phpunit.result.cache
