{% extends 'base.html.twig' %}

{% block title %}
    ScullyCMS
{% endblock %}

{% block body %}
    {{ content|raw }}
{% endblock %}

{% block footer %}
    <span>ScullyCMS is Free & Open Source Software. License: GPL 3.0+ &middot; <a href="?action=edit">Bearbeiten</a></span>
{% endblock %}
